$font-stack: Urbanist, sans-serif;
$light-color: #fff;
$background-color: #F6F5F7; 
$main-grey: #bababa;
$primary-color: #0f0f0f;
$secondary-color: #ff4500;


$p: 1.2rem;
$h1-font-zize: 5rem;
$h2-font-size: 3rem;
$h3-font-size: 2.5rem;
$h4-font-size: 1.5rem;
$section-header-margin: 3rem;