$font-stack: "Roboto Mono", system-ui;
$white: #ffffff;
$header: #646669;
$background-color: #323437; 
$copy: #D1D0C5;
$primary-color: #646669;
$secondary-color: #ff4500;

$xs: 0.8rem;
$p: 1.1rem;
$p-form-mobile: 1rem;
$h1-font-size: 3rem;
$h2-font-size: 2rem;
$h3-font-size: 1.5rem;
$h4-font-size: 1.2rem;
$section-header-margin: 6rem;