$font-stack: "Roboto Mono", system-ui;
$white: #ffffff;
$grey: #808080;
$black: #2C2E31;
$background-color: #323437; 
$copy: #D1D0C5;
$primary-color: #646669;
$secondary-color: #E2B714;

$xs: 0.8rem;
$p: 1.1rem;

//Mobile
$p-form-mobile: 1rem;
$h1-for-mobile: 2rem;
$h2-for-mobile: 1.5rem;
$h3-for-mobile: 1.2rem;
$section-header-mobile: 4rem;

//Desktop
$h1-font-size: 3rem;
$h2-font-size: 2rem;
$h3-font-size: 1.5rem;
$h4-font-size: 1.2rem;
$section-header-margin: 6rem;