// Variables
@import 'config';

// Global

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    font-family: 'Urbanist', sans-serif;
    background: #fff;
}

.container {
    padding: 5rem;
    font-weight: 600;
    line-height: 1.2;
    font-size: 4.5vmax;


    a {
        text-decoration: none;
        color: #e8491d;
    }

    header {

        margin-bottom: 4rem;

        span {
            font-style: italic;
            color: #6f6f6f;
            font-weight: 300;
        }

        hr {
            border: 0;
            border-bottom: 1px dashed #ccc;
            background: #999;
            margin-top: 2rem;
        }
    }
    

    .about-me {
       p {
        margin-bottom: 2rem;
       }

       .socials {
        a {
            border-bottom: none;
            color: #000;
        }
       }
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .container {
        padding: 1rem;

        header {
            margin-bottom: 2rem;

            hr {
                border: 0;
                border-bottom: 1px dashed #ccc;
                background: #999;
                margin-top: .5rem;
            }
        }

        .about-me {
            p {
            margin-bottom: 1rem;
            }
         }
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .container {
        padding: 3rem;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .container {
        
    }
}


/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .container {
        font-size: 5vmax;

        header {
            margin-bottom: 4rem;
        }

        .about-me {
            p {
            margin-bottom: 3rem;
            }
         }
    }
}

