// Variables
@import 'config';


// Global Styles
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    font-family: "Roboto Mono", system-ui;
    background-color: $background-color;
    font-size: $p;
    // font-weight: 300;
}

a {
    text-decoration: none;
    color: $grey;
    transition: 0.3s ease-in-out;
}

a:hover {
    color: $white;
}

img {
    max-width: 100%;
}

.container {
    max-width: 700px;
    margin: auto;

    header {
        position: sticky;
        top: 1.5rem;
        padding: 0.7rem;
        background-color: $primary-color;
        color: $copy;
        border-radius: 50px;
        z-index: 1000;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3), 0 8px 10px rgba(0, 0, 0, 0.15);
    
    
        img {
            width: 25px;
        }
    
        nav {
            ul {
                display: flex;
                list-style-type: none;
                justify-content: space-around;

                a {
                    color: $copy;
                    text-decoration: none;
                }

                a:hover {
                    color: $white;
                }
            }
        }
    }

    .hero {
        padding-top: $section-header-margin;

        .intro {
            margin-bottom: 1rem;

            img {
                width: 18%;
                border-radius: 5%;
            }
            
            display: flex;
            gap: 4rem;
            justify-content: center;
            align-items: center;

            p {
                color: $copy;
                font-size: $p;
                padding: 5px 0;
                text-align: justify;
            }
        }

    .cta {
        display: flex;
        gap: 2rem;
        align-items: center;
        justify-content: space-between;

        .quick-links {
            display: flex;
            gap: 2rem;

            a {
                text-decoration: none;
                color: $copy;
            }
    
            .btn1 {
                background-color: #000000;
                padding: 0.4rem 1rem;
                border-radius: 5px;
                color: $copy;
                font-size: $p-form-mobile;
                cursor: pointer;
                transition: 0.3s ease-in-out;
                box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    
                &:hover {
                    background-color: $primary-color;
                    color: $white;
                }
            }
    
            .btn2 {
                background-color: $primary-color;
                padding: 0.4rem 1rem;
                border-radius: 5px;
                color: $copy;
                font-size: $p-form-mobile;
                cursor: pointer;
                transition: 0.3s ease-in-out;
                box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.06);
    
                &:hover {
                    background-color: $white;
                    color: $black;
                }
            }
    
        }

        .social {
            display: flex;
            gap: 1rem;

            svg {
                width: 30px;
                color: $copy;
                cursor: pointer;
                transition: 0.3s ease-in-out;
                &:hover {
                    color: $primary-color;
                }
            }
        }
    }
}

    .about {
        padding-top: $section-header-margin;
        color: $copy;

        h1 {
            margin-bottom: 1.5rem;
            font-size: $h1-font-size;
        }

        p {
            font-size: $p;
            margin-bottom: 1rem;
        }
    }

    .projects {
        padding-top: $section-header-margin;
        color: $copy;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        
        h1 {
            margin-bottom: 1.5rem;
            font-size: $h1-font-size;
        }

        .project {
            display: flex;
            gap: 1rem;
            margin-bottom: 1.5rem;
            background-color: $primary-color;
            border-radius: 10px;
            overflow: hidden;

            .project-description {
                padding: 1.5rem;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                h3 {
                    font-size: $h3-font-size;
                    margin-bottom: 1rem;
                }

                p {
                    text-align: justify
                }

                a  {
                    text-decoration: none;
                    color: $secondary-color;
                }

                a:hover {
                    color: $white;
                }

                .stack {
                    display: flex;
                    gap: 0.5rem;

                    span {
                        background-color: $background-color;
                        color: $copy;
                        padding: 0.3rem 0.5rem;
                        border-radius: 50px;
                        font-size: $xs;
                    }
                }
            }

            img {
                border-radius: 0 10px 0 10px;
                width: 50%;
                margin: 2rem 0 -0.5rem -0.5rem;
                transition: transform 0.3s;
            }

            img:hover {
                transform: rotate(3deg);
            }
        }

        .project:nth-child(even) {
            flex-direction: row-reverse;

            img {
                border-radius: 10px 0 10px 0;
                width: 50%;
                margin: 2rem -0.5rem -0.5rem 0;
                transition: transform 0.3s;
            }

            img:hover {
                transform: rotate(-3deg);
            }            
        }

    }

    .skills {
        padding-top: $section-header-margin;
        color: $copy;

        h1 {
            margin-bottom: 1.5rem;
            font-size: $h1-font-size;
        }

        p {
            font-size: $p;
            margin-bottom: 1rem;
        }

        .tools {
            display: flex;
            flex-wrap: wrap;
            gap: 0.5rem;

            span {
                background-color: $primary-color;
                color: $copy;
                padding: 0.3rem 0.5rem;
                border-radius: 50px;
                font-size: $p-form-mobile;
            }
        }
    }

    .contact {
        padding-top: $section-header-margin;
        color: $copy;

        h1 {
            margin-bottom: 1.5rem;
            font-size: $h1-font-size;
        }

        form {
            display: flex;
            flex-direction: column;
            gap: 2rem;

            .form-group {
                display: flex;
                gap: 2rem;
            }

            input, textarea {
                padding: 0.5rem;
                border-radius: 5px;
                border: none;
                width: 100%;
                background-color: $primary-color;
                color: $copy;
                font-family: inherit;
                font-size: $p;
            }
            input::-webkit-input-placeholder {
              color: $copy; 
            }
            input:-moz-placeholder {
              color: $copy; 
            }
            input::-ms-input-placeholder {
              color: $copy; 
            }

            textarea::-webkit-input-placeholder {
              color: $copy;
            }
            textarea:-moz-placeholder {
              color: $copy;
            }
            textarea::-ms-input-placeholder {
              color: $copy;
            }
            
            button {
                background-color: $primary-color;
                padding: 0.5rem 1rem;
                border-radius: 5px;
                border: none;
                color: $copy;
                font-size: $p;
                cursor: pointer;
                transition: 0.3s ease-in-out;

                &:hover {
                    background-color: $white;
                    color: $primary-color;
                }
            }

        }
    }

    footer {
        margin-top: $section-header-margin;
        margin-bottom: 2rem;
        color: $primary-color;
        font-size: $xs;
        text-align: center;
        background-color: $black;
        padding: 1rem;
        border-radius: 50px;

        a {
            color: $primary-color;
            text-decoration: none;
        }
    }

}

// Media Queries
@media only screen and (max-width: 600px) {

    body {
        font-size: $p-form-mobile;
    }

    .container {

        header {
            top: 0;
            padding: 0.5rem;
            border-radius: 0;

            img {
                width: 20px;
            }

            nav {
                ul {
                    flex-wrap: wrap;
                    column-gap: 1.5rem;
                    justify-content: center;
                    font-size: 0.9rem;
                    font-weight: 300;
                }
            }
        }

        .hero {
            padding: $section-header-mobile 4% 0 4%;

            .intro {
                flex-direction: column;
                align-items: center;
                gap: 1rem;
                text-align: center;
                margin-bottom: 1rem;

                img {
                    width: 100%;
                }

                p {
                    color: $copy;
                    font-size: $p-form-mobile;
                    text-align: left;
                }
            }

            .cta {
                flex-direction: column;
                gap: 1rem;

                .quick-links {
                    flex-direction: column;
                    gap: 1rem;
                    width: 100%;
                    text-align: center;
                }

                .social {
                    svg {
                        width: 20px;
                    }
                }
            }
        }

        .about {
            padding: $section-header-mobile 4% 0 4%;

            h1 {
                font-size: $h1-for-mobile;
            }

            p {
                font-size: $p-form-mobile;
            }
        }

        .projects {
            padding: $section-header-mobile 4% 0 4%;
            gap: 1rem;
            

            h1 {
                font-size: $h1-for-mobile;
                margin-bottom: 1rem;
            }


            .project {
                flex-direction: column;
                gap: 0;

                img {
                    border-radius: 10px 10px 0 0;
                    width: 100%;
                    margin: 0;
                }

                .project-description {
                    padding: 0.7rem;

                    p {
                        margin-bottom: 0.5rem;
                    }

                    .stack {
                        margin-top: 1rem;
                    }
                }
            }

            .project:nth-child(even) {
                flex-direction: column;

                img {
                    border-radius: 10px 10px 0 0;
                    width: 100%;
                    margin: 0;
                }
            }
        
        }

        .skills {
            padding: $section-header-mobile 4% 0 4%;

            h1 {
                font-size: $h1-for-mobile;
            }
        }

        .contact {
            padding: $section-header-mobile 4% 0 4%;

            h1 {
                font-size: $h1-for-mobile;
            }

            form {
                gap: 1rem;

               .form-group {
                   flex-direction: column;
                   gap: 1rem;
               }

            }
        }

        footer {
            margin-top: $section-header-mobile;
            margin-bottom: 0;
            font-size: $xs;
            padding: 1rem;
            border-radius: 0; 
        }
    }
}
